  /* color pallete
https://www.color-hex.com/color-palette/83132
#43ae70	(67,174,112)
#ffffff	(255,255,255)
#ff9a00	(255,154,0)
#43aea6	(67,174,166)
#9f70d0	(159,112,208) */

* {
  font-family: "IBM Plex Mono", monospace;
	box-sizing: border-box;
	color: #9f70d0;
}

h1 {
	font-size: 3.5rem;
}

#title-container {
	text-align: center;
}

body {
  margin: 2em;
}

#container {
	max-width: 650px;
	margin: 0 auto
}

#demo-gif {
	width: 60%;
	margin: 0 0 1rem 0;
}

#leader-board {
	float: right;
	padding: 10px;
	border: 1px solid;
}

#leader-title {
	margin-top: 0;
}

@media only screen and (max-width: 680px) {
	#demo-gif {
		width: 100%;
	}
	h1 {
		font-size: 2rem;
	}

	#leader-board {
		float: none;
	}

}
